body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Arial";
}

a{
    color: #1B75BC;
}

p{
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(#00b0d8, #ffffff);
    height: 240px;
    text-align: center;
    position: relative;
}

.header-logo {
    display: inline-block;
    position: relative; /* Относительное позиционирование */
    top: 40px;
}

.header-logo img {
    width: 456px;
    height: 166px;
}

.header-bg {
    height: 100%;
    width: 100%;
    background: url("../img/header.png") bottom repeat-x;
}

/*=======================================================================*/

.main-content {

    margin: 170px 0 0 0;
    background: linear-gradient(to bottom, #F9DB95, #ffffff);

}

.container {
    box-sizing: border-box;
    background: url("../img/bodybg.png") repeat-y;
    width: 760px;
    margin: 0 auto;
    padding: 30px 45px 80px 45px;
    height: inherit;
}

.warning {
    padding: 20px 0 0 60px;
    background: url("../img/totem.png") left bottom no-repeat;
}

.warning h1 {
    margin: 0;
    padding-top: 10px;
}

.warning p {
    margin: 0;
    padding: 0;
}

.main__nav{

}


.main__nav a{
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

.main__nav h5{
    padding: 25px 0 10px 0 ;
    margin: 0;
}


footer .top-line{
    height: 25px;
    width: 100%;
    background: url("../img/footer-bg.png") top repeat-x;
}

.footer-container{
    width: 770px;
    margin: 0 auto;
}

.footer-container img{
    position: relative;
    top: -40px;
    left: 40px;

}

footer .info{
    background: #e2ed9c;
    height: 70px;
    padding-top: 20px;
}

footer p{
    text-align: center;
    color: #526118;
}

.wrapper{
    display: flex;
    margin: 0;
    padding: 0;
}

.left-column{
    width: 420px;
}

.right-column{
    width: 220px;
    padding-left: 30px;
}

nav{
    margin: 20px 0 0 20px;
}

nav ul{
    padding: 0;
}

nav ul li {
    list-style: none;
    padding: 5px 0 5px 0;
    font-weight: 700;
}

.right-column a{
    text-decoration: none;
}

.info{
    background: #f2efe6;
    padding: 10px;
}

.info p{
    margin: 10px 0 10px 0;
}



section p{
    padding: 5px 0;
}

section h4 {
    color: #666;
    font-size: 16px;
    margin: 0;
}

section img{
    margin: 50px 0 0 0;
}
section{
    margin: 50px 0;
}

section .em{
    margin-bottom: 50px;
}

li{
    display: flex;
    align-items: center;
}

li.active{
    background: linear-gradient(to right,#F9DB95, #fae6c5);
}
li.active a{
    color: black;
    padding-left: 10px;
}

